html {
  height: 100%;
  display: flex;
}

body {
  padding: 0px;
  margin: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

#terminal {
  flex: 1;
  border: 1px solid var(--ag-theme-primary);
  margin: 0.5em;
  overflow-y: auto;
  position: relative;
}

#clearTerminal {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: var(--ag-theme-background);
}

#commands {
  display: flex;
}

#commands > * {
margin: 0.25em;
}

#commandline {
  flex: 1;
}

.output {
  border-bottom: 1px solid var(--ag-theme-primary);
}

.output-input {
  color: var(--ag-theme-secondary);
}
